<!DOCTYPE html>
<html lang="en">

<head>

    <%include ./partials/head.ejs%>
</head>

<body id="page-top">

<!-- Navigation -->
<%include ./partials/navbar.ejs%>
<!-- Footer -->

<%- body -%>





<%include ./partials/footer.ejs%>


<!-- Bootstrap core JavaScript -->
<%include ./partials/javascript.ejs%>

</body>

</html>

